<div class="container text-center" [ngModel]="formStatus">
    <form class="form rounded shadow position-absolute top-50 start-50 translate-middle bg
    bg-primary p-2 text-dark bg-opacity-50" [formGroup]="reactiveForm" onsubmit="onSubmit()">
        <h1>Reset Password</h1>
        <hr class="border-white">
        <div class="form-group">
            <input type="email" [(ngModel)]="email" placeholder="Enter your Email" formControlName="pass">
        </div>
        <div class="form-group">
            <input type="password" [(ngModel)]="password" placeholder="Password" formControlName="pass">
        </div>
        <div class="form group">
            <input type="password"  placeholder="Confirm Password" formControlName="cpass">
        </div>
        <div class="form-group">
            <a><button class="btn btn-success" (click)="update()">Reset Password</button></a>
        </div>
    </form>
</div>